* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1c1c1c;
}

h1 {
  color: antiquewhite;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.color-box {
  background-color: #2a3646;
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
}

form {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

#seed-color {
  height: 3rem;
  width: 15%;
  cursor: pointer;
}

#predefined-colors {
  background-color: #2a3646;
  color: #fffdfe;
  border-radius: 0.31rem;
  width: 50%;
  cursor: pointer;
}

.btn {
  background-color: #3d4b60;
  color: #fffdfe;
  border-radius: 0.31rem;
  width: 30%;
  cursor: pointer;
}

.color-data {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30vh;
  background-color: #2a3646;
}

.imgo {
  display: block;
  transform: rotate(-90deg);

  margin: 0 auto;
  margin-top: -3.3rem;
  width: 240px;
}
.hex-code {
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 2rem; */
}

.hex-value {
  display: inline-block;
  margin: auto;
  color: antiquewhite;
}
@media (max-width: 500px) {
  .color-data {
    height: 40vh;
  }

  .imgo {
    width: 190px;
  }
  .hex-code {
    font-size: 0.7rem;
  }
}

@media (max-width: 398px) {
  .color-data {
    height: auto;
  }
  .imgo {
    width: 170px;
  }
}

@media (max-width: 365px) {
  .color-data {
    height: 26vh;
  }
  .imgo {
    width: 140px;
  }
}
